@import '../../scss/variables.scss';

.wsu-cpm-child-directory-card {
    border: 1px solid $wsu-color-crimson-light;
    box-shadow: $wsu-box-shadow-light;
    padding: 1rem 1.5rem !important;
    flex: 0 0 200px;
    border-radius: 6px;
    list-style-type: none;
    margin: 0 1rem 1rem 0;
    font-size: 0.9rem;
    box-sizing: border-box;

    &__title,
    &__count,
    &__helper,
    &__edit {
        display: block;
    }

    &__title {
        
        font-size: 0.9rem !important;
        font-weight: 600 !important;
        margin-bottom: 0.25rem !important;
    }

    &__count {
        
        strong {
            color: $wsu-color-crimson;
        }
    }

    &__edit {
        
        margin-top: 1rem;
        font-weight: 600;
    }

}