.wsu-cpm-people-add-editor-advanced[aria-expanded="false"] {

    .wsu-cpm-people-add-editor-advanced__inner {

        display: none;

    }
    
}

.wsu-cpm-people-add-editor-advanced__inner {

    padding: 2rem 0;

    button {
        background-color: var(--wp-admin-theme-color);
        color: #fff;
    }

}